To change App Icon:
dev_dependencies: 
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: "^0.6.1"

flutter_icons:
  image_path: "icon/icon.png" 
  android: true
  ios: true

$ flutter pub get

$ flutter pub pub run flutter_launcher_icons:main

